@using WebSearchIndexing.Graphics

@namespace WebSearchIndexing.Pages.Components

@inherits Pages.Components.ComponentBase

@if (!_isClosed)
{
    <MudPaper Class=@($"px-6 py-4 mb-7 d-flex flex-sm-row flex-column align-sm-center align-start justify-space-between rounded-lg {BgColorClass()} {Class}")
              Style="@Style"
              Elevation="0">
        <div class="notification__content @ThemeColor.White.FgColorClass()">
            @ChildContent
        </div>

        <MudStack Style="z-index: 1" Row Spacing="2">
            @if (Closed.HasDelegate)
            {
                <MudPaper Class="rounded-circle close-icon close-icon--banner"
                          Style="z-index: 1"
                          Elevation="0"
                          @onclick="CloseBannerAsync">
                    <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Close" Color="Color.Primary" />
                </MudPaper>
            }
        </MudStack>
    </MudPaper>
}