version: "3.4"

services:
  postgres:
    container_name: "postgres"
    image: "postgres:16"
    environment:
      POSTGRES_HOST_AUTH_METHOD: "scram-sha-256"
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "{YOUR_POSTGRES_PASSWORD}"
    ports:
    - target: 5432
      published: 5432
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
  
  seq:
    container_name: "seq"
    image: "datalust/seq:latest"
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_ADMINPASSWORD: "Admin123!"
    ports:
      - "5341:80"
      - "5342:5341"
    restart: unless-stopped
    volumes:
      - seq-data:/data
  
  web:
    container_name: "web-search-indexing"
    image: "web-search-indexing"
    build:
      context: .
      dockerfile: src/Hosts/WebHost/Dockerfile
    environment:
      ConnectionStrings__IndexingDb: "Host=postgres;Port=5432;Username=postgres;Password={YOUR_POSTGRES_PASSWORD};Database=IndexingDb"
      ApplicationAccessKey: "{YOUR_APPLICATION_ACCESS_KEY}"
      Seq__ServerUrl: "http://seq:80"
    ports:
      - "10005:8080"
    restart: unless-stopped
    depends_on:
      - postgres
      - seq

volumes:
  postgres-data:
  seq-data:
